<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>MyBox</string>
		<key>title</key>
		<string>机顶盒</string>
	</dict>
	<dict>
		<key>name</key>
		<string>VOD</string>
		<key>title</key>
		<string>点播视频</string>
	</dict>
	<dict>
		<key>name</key>
		<string>MyApp</string>
		<key>title</key>
		<string>应用</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Live</string>
		<key>title</key>
		<string>直播</string>
	</dict>
	<dict>
		<key>name</key>
		<string>My</string>
		<key>title</key>
		<string>我的</string>
	</dict>
</array>
</plist>
